*~
#*#
*.??.rst
sphinx/_build
sphinx/appendixa.rst
sphinx/appendixb.rst
sphinx/appendixc.rst
sphinx/appendixd.rst
sphinx/appendixe.rst
sphinx/bio.rst
sphinx/chapter1.rst
sphinx/chapter2.rst
sphinx/chapter3.rst
sphinx/chapter4.rst
sphinx/chapter5.rst
sphinx/chapter6.rst
sphinx/chapter7.rst
sphinx/chapter8.rst
sphinx/copyright.rst
sphinx/epilog.rst
sphinx/preface.rst
sphinx/preface2004.rst
sphinx/preface94.rst
sphinx/quotation.rst
sphinx/title.rst
